.root{
    -fx-background-color: #082032;
}


.label{
    -fx-font-family: Consolas;
    -fx-text-fill: white;
}
#copyright{
    -fx-font-family: Consolas;
    -fx-text-fill: #d96261;
}

.text-field{
    -fx-background-color: #cbe3e4;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-font-family: Consolas;

}

.text-field:hover{
    -fx-background-color: #97d2d4;
}

.button{
    -fx-background-color: #f8c487;
}

.button:hover{
    -fx-background-color: #97d2d4;
}

.button:pressed{
    -fx-background-color: #f8c487;
}

.tree-view{
    -fx-background-color: #082032;
    -fx-text-fill: white;
}
